<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
</head>
<body>

<div>
    <form th:method="post" th:action="@{/login}">
        <h1 th:text="#{login.label}">Please Sign In</h1>
        <p style="color:red;" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
        <label th:text="#{login.username}">Username:</label>
        <input type="text" name="username"><br/>
        <label th:text="#{login.password}">Password:</label>
        <input type="password" name="password"><br/>
        <button type="submit" th:text="#{login.but1}">登录</button>
        <button type="reset" th:text="#{login.but2}">重置</button><br/>
    </form>
    <a th:href="@{index.html(lang='zh_CN')}">中文</a>
    <a th:href="@{index.html(lang='en_US')}">English</a>

</div>

</body>
</html>