<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kapcb.ccc.mapper.DeptMapper">
    <resultMap id="demo" type="Dept">
        <id property="id" column="id"/>
        <result property="deptName" column="dept_name"/>
    </resultMap>

    <select id="getById" resultMap="demo">
        select * from tb_dept where id = #{id}
    </select>

    <delete id="deleteDept">
        delete from tb_dept where id = #{id}
    </delete>

    <update id="updateDept">
        update tb_dept set dept_name = #{deptName}
    </update>

    <insert id="addDept">
        insert into tb_dept (dept_name) values (#{deptName})
    </insert>
</mapper>