<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webSocket-Stomp</title>
    <script th:src="@{js/jquery-3.1.1.js}"></script>
    <script th:src="@{js/sockjs.min.js}"></script>
    <script th:src="@{js/stomp.js}"></script>
</head>
<body onload="disConnect()">
<noscript><h2 style="color: #e80b0a;">抱歉，您的浏览器不支持WebSocket</h2></noscript>
</body>
<div>
    <div>
        <button id="connect" onclick="connect()">连接WebSocket</button>
        <button id="disConnect" disabled="disabled" onclick="disConnect()">断开连接</button>
    </div>

    <div id="conversationDiv">
        <label>请输入您的名字!<input type="text" id="name"></label>
        <button id="send" onclick="send()">发送</button>
        <p id="message-box"></p>
    </div>
</div>
<script>
    let stompClient = null;

    function setConnect(connect) {

    }

    /**
     * 建立连接
     */
    function connect() {
        let socket = new SockJS("/endpoint-stomp");
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            setConnect(true);
            console.log("Connected : " + frame);
            stompClient.subscribe("/topic/send", function (message) {
                console.log("receive from back end : " + message);
                // showMessage(JSON.parse(message))
                showMessage(message);
            })
        })
    }

    /**
     * 重新连接
     */
    function disConnect() {
        if (stompClient == null) {
            // 重新连接
        }
        ;
    };

    /**
     * 在页面显示消息
     * @param message
     */
    function showMessage(message) {
        $("#message-box").innerHTML(message);
        // $("#message-box").html(message);
    }
</script>
</html>