<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webSocket-Stomp</title>
    <script th:src="@{js/jquery-3.1.1.js}"></script>
    <script th:src="@{js/sockjs.min.js}"></script>
    <script th:src="@{js/stomp.js}"></script>
</head>
<body onload="">

</body>
<script>
    let stompClient=null;

    /**
     * 重新连接
     */
    function disConnect(){
        if (stompClient == null) {
            // 重新连接
        }
    }
</script>
</html>